@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-color: #ffffff; /* white */
        color: #ffc800;
        padding: 100px 25px;
    }

    .container-fluid {
        padding: 60px 50px;
    }

    .glyphicon {
        color:#fdb518; /*yellow*/
        font-size: 50px;
    }

</style>

<body>
    <div class="jumbotron text-center">
        <img src="~/images/logo.png" />
        <h1>Centric Consulting</h1>
        <p>Core Value Employee Recognition</p>
    </div>
</body>

<div class="container-fluid text-center">
    <h2>Core Values</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-ok"></span>
            <h4>Stewardship</h4>
            <p>Practice Responsible Stewardship</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-sunglasses"></span>
            <h4>Culture</h4>
            <p>Invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-envelope"></span>
            <h4>Delivery Excellence</h4>
            <p>Commit to Delivery Excellence</p>
        </div>
    </div>
    <br>
    <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-cog"></span>
                <h4>Innovation</h4>
                <p>Strive to Innovate</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-link"></span>
                <h4>Greater Good</h4>
                <p>Ignite Passion for the Greater Good</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <h4>Integrity and Openness</h4>
                <p>Embrace Integrity and Openness</p>
            </div>
        </div>
    <br />
    <br />
         <div class="row">
            <div>
                <span class="glyphicon glyphicon-scale"></span>
                <h4>Balance</h4>
                <p>Live a Balanced Life</p>
            </div>
         </div>
    <br />
    <br />

    <div class="row">
        <div>
            <p><a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-success btn-group-sm">Facebook &raquo;</a></p>
        </div>
        <div>
            <p><a href="https://twitter.com/centric" class="btn btn-success btn-group-sm">Twitter &raquo;</a></p>
        </div>
        <div>
            <p><a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-success btn-group-sm">Linkedin &raquo;</a></p>
        </div>
    </div>
