@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Core Values Leaderboard</h1>
    <p class="lead">Centric prides itself on making a positive impact on both their colleagues and clients.</p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stewardship</h2>
        <p>
            Practice Responsible Stewardship
        </p>
    </div>
    <div class="col-md-4">
        <h2>Culture</h2>
        <p>Invest in an Exceptional Culture</p>
    </div>
    <div class="col-md-4">
        <h2>Delivery Excellence</h2>
        <p>Commit to Delivery Excellence</p>
    </div>
    <div class="col-md-4">
        <h2>Innovation</h2>
        <p>Strive to Innovate</p>
    </div>
    <div class="col-md-4">
        <h2>Greater Good</h2>
        <p>Ignite Passion for the Greater Good</p>
    </div>
    <div class="col-md-4">
        <h2>Integrity and Openness</h2>
        <p>Embrace Integrity and Openness</p>
    </div>
    <div class="col-md-4">
        <h2>Balance</h2>
        <p>Live a Balanced Life</p>
    </div>
</div>
<p><a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-success btn-group-sm">Facebook &raquo;</a></p>
<p><a href="https://twitter.com/centric" class="btn btn-success btn-group-sm">Twitter &raquo;</a></p>
<p><a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-success btn-group-sm">Linkedin &raquo;</a></p>

