@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background-color: #9b51e0; /* Purple */
        color: #ffc800;
        padding: 100px 25px;
    }

    .container-fluid {
        padding: 60px 50px;
    }
</style>

<body>
    <div class="jumbotron text-center">
        <h1>Centric Consulting</h1>
        <p>Core Value Employee Recognition</p>
    </div>
</body>

<div class="container-fluid text-center">
    <h2>Core Values</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off"></span>
            <h4>Stewardship</h4>
            <p>Practice Responsible Stewardship</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart"></span>
            <h4>Culture</h4>
            <p>Invest in an Exceptional Culture</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock"></span>
            <h4>Delivery Excellence</h4>
            <p>Commit to Delivery Excellence</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf"></span>
            <h4>Innovation</h4>
            <p>Strive to Innovate</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate"></span>
            <h4>Greater Good</h4>
            <p>Ignite Passion for the Greater Good</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench"></span>
            <h4>Integrity and Openness</h4>
            <p>Embrace Integrity and Openness</p>
        </div>
    </div>
    <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-leaf"></span>
                <h4>Balance</h4>
                <p>Live a Balanced Life</p>
            </div>
        </div>
        <p><a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-success btn-group-sm">Facebook &raquo;</a></p>
        <p><a href="https://twitter.com/centric" class="btn btn-success btn-group-sm">Twitter &raquo;</a></p>
        <p><a href="https://www.linkedin.com/company/centric-consulting" class="btn btn-success btn-group-sm">Linkedin &raquo;</a></p>

